[[extend "layout.html"]]

<container id="vue-target">
  <div id='site-content'>
    <section>
      <h1>
        {{ title_text }}
      </h1>
    </section>
    <div v-for="id in exercise_count">
      <section :id="id">
        <h2>Exercise {{ id }}</h2>
      </section>
    </div>
  </div>
</container>


[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
    let title_text = "[[=XML(title_text)]]"
</script>
<script src="js/index.js"></script>
<script src="js/three.js"></script>
<script id="vs" type="x-shader/x-vertex">
#version 300 es
void main() {
	gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );
}
</script>
<script id="fs" type="x-shader/x-fragment">
#version 300 es
precision highp float;
precision highp int;
out vec4 out_FragColor;
void main() {
	out_FragColor = vec4( 1.0 );
}
</script>
<script src="js/modules/threejs_play.js" type="module">

</script>

[[end]]